<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <property name="CONSOLE_LOG_PATTERN" value="%date{ISO8601} - [%level] - [%thread] %logger{36} - %message%n%ex"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>